#download-wrapper {
	border-radius: 5px;
	clear:both;
	overflow:auto;
	padding: 7px 10px 0 10px;
	border:1px solid #dddddd;
	margin-bottom: 15px;
	margin-top: 10px;
}

.movie-downloads { margin-bottom: 15px; }

.movie-downloads span {
	border: 1px solid #d3d3d3;
	padding: 5px 0;
	background-color: #f6f6f6;
	border-radius: 3px;
	color: #3D3D3D;
	/*margin-bottom: 10px;*/
}

.movie-downloads span a {
	text-decoration: none;
	padding: 5px;
	border-right: 1px solid #d3d3d3;
}

.movie-downloads span a:last-child {
	text-decoration: none;
	border-right: none;
}

.movie-downloads span a:hover { background-color: #d3d3d3; }

.movie-downloads .title { font-weight: bold; }

.movie-downloads .subtitle-link,
.movie-downloads .title {
	margin-left: -5px;
}

ul[id*='subtitle-list-'] {
	margin-top: 10px;
	margin-left: -15px;
	list-style-type: none;
}

ul[id*='subtitle-list-'] li a:hover {
	background: none;
	text-decoration: underline;
}